// Place all the styles related to the guards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guard-entry, .guard-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 1px solid #ddd;
}

.guard-entry{
  background-color: rgb(245, 116, 56);
}

.guard-search {
  background-color: rgb(79, 247, 37);
}

.gaurd-list{
  background-color: rgb(37, 223, 247);
}

.gaurd-list, .guard-introduction{
  text-align: center;
  margin: 20px auto;
  border: 1px solid #ddd;
}

.guard-introduction{
  background-color: rgb(143, 248, 196);
}

.Introduction-content{
  margin: 20px auto;
  border: 1px solid #ddd;
  background-color: rgb(49, 245, 147);
}

.container{
  background-color: rgb(50, 228, 189);
  margin-bottom: 60px;
}

.introduction-title{
  font-size: 30px;
  font-weight: bold;
}

.header-contents{
  background-color: rgb(112, 198, 248);
}